@using com.star.Entity.StarDB;

@model test

<div class="jumbotron">
<h1> @Model.Name 是一个  @Model.Remark</h1>
<p class="lead">-----------------------------------------</p>
<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

