<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Initialization" type="ServiceCenter.InitializationSection, ServiceCenter" />
  </configSections>
  <Initialization>
    <Functions>
      <!--DB实体初始化-->
      <Item Name="InitDBEntity" Assembly="z.Foundation.Data.dll" Class="z.Foundation.Data.NHibernateEntityInit" Method="InitSessionFactory" Param="" />
    </Functions>
  </Initialization>
  <appSettings>
    <!--WCF地址-->
    <!--<add key="WCFAddress" value="http://127.0.0.1:65489" />-->
    <add key="WCFAddress" value="http://127.0.0.1:65489" />

    <!--需要初始化DB名称-->
    <add key="AllDB" value="StarDB" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>