<?xml version="1.0" encoding="utf-8"?>
<WCFConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Apps>
    <!--<WCFApp>
      <Key>z.TaskCenter.Logic.dll:z.TaskCenter.Logic.TaskManage:GetTaskMainList</Key>
      <Address>net.tcp://47.93.162.20:65500</Address>
      <Binding>NetTcpBinding</Binding>
    </WCFApp>
    <WCFApp>
      <Key>z.TaskCenter.Logic.dll:z.TaskCenter.Logic.TaskManage:PushTask</Key>
      <Address>net.tcp://47.93.162.20:65500</Address>
      <Binding>NetTcpBinding</Binding>
    </WCFApp>
    <WCFApp>
      <Key>z.TaskCenter.Logic.dll:z.TaskCenter.Logic.TaskManage:GetTaskMainInfo</Key>
      <Address>net.tcp://47.93.162.20:65500</Address>
      <Binding>NetTcpBinding</Binding>
    </WCFApp>
    <WCFApp>
      <Key>z.TaskCenter.Logic.dll:z.TaskCenter.Logic.TaskManage:CloseTaskMainAbnormal</Key>
      <Address>net.tcp://47.93.162.20:65500</Address>
      <Binding>NetTcpBinding</Binding>
    </WCFApp>-->
    <WCFApp>
      <Key>*</Key>
      <Address>http://127.0.0.1:65489</Address>
      <Binding>BasicHttpBinding</Binding>
    </WCFApp>
  </Apps>
</WCFConfig>